body{
    text-align: center;
    background-color:  magenta;
}

#color{
    background-color: blueviolet;
    border: 5px solid greenyellow;
    border-radius: 10px;
    margin-left: 400px;
    margin-right: 400px;
    color: aqua;
}

#ans{
    background-color: coral;
    margin-left: 400px;
    margin-right: 400px;
    border: 5px solid cornflowerblue;
    border-radius: 10px;
}

#end{
    background-color: darkcyan;
    margin-left: 400px;
    margin-right: 400px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 10px solid ghostwhite;
    text-decoration: underline;
    font-weight: bolder;
}